*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --ff-principal: 'Staatliches', cursive;
    --ff-paragraph: 'Palanquin', sans-serif;

    --fc-header:hsl(0, 0%, 100%);
    --fc-paragraph: hsl(274, 84%, 12%);
    --fc-span:  hsl(232, 17%, 35%);

    font-size: 62.5%;
    --fs-body: 1.6rem;


    --hue: 233; 

    --bg-header: hsl(218, 17%, 62%);
    --bg-principal: hsl(233, 100%, 97%);
    --bg-span: hsl(312, 91%, 96%);
    --bg-header-one: hsl(275, 18%, 79%);


}

body{
    background-color: var(--bg-principal);
}

.page{
    max-width: 38.4rem;
    margin: 0 auto;
}

header{
    position: relative;
    height: 27.9rem;
    background-color: var(--bg-header);

    font-family: var(--bg-principal);
    text-align: center;

    gap: 3.2rem;
}

header h1{
    position: absolute;
    color: var(--fc-header);
    text-transform: uppercase;
    background-color: var(--bg-header-one);

    font-family: var(--ff-principal);
    font-weight: 400;
    font-size: 4rem;
    line-height: 3.4rem;


    letter-spacing: 0.05em;

    height: 4.9rem;
    width: 38.4rem;

    bottom: 2.9rem;

    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);


    display: flex;
    justify-content: center;
    align-items: center;
    

}

header img{
    margin-top: 3.2rem;
}

main p{
    margin-top: 1.4rem;
    margin-bottom: 6.3rem;

    font-family: 'Palanquin';
    
    font-weight: 400;
    font-size: 2rem;
    line-height: 15px;
    
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: var(--fc-paragraph); 
}

main{
    display: grid;
    gap: 3.2rem;
    justify-items: center;

    padding-bottom: 6rem;
}

.card{
    position: relative;
}

.card img{
    /* height: 25rem; */
    left: 3.2rem;
    object-fit: cover;
}


.card span{

    position: absolute;

    border-radius: 2rem;
    font-size: 2rem;

    font-family: 'Staatliches', cursive;
    
    font-weight: 400;
    font-size: 2rem;
    line-height: 34px;

    letter-spacing: 0.05em;

    color: var(--fc-span);
    background-color: var(--bg-span);

    width: 11.2rem;
    height: 3.5rem;
    /* left: 22.4rem; */

    display: inline-flex;
    align-items: center;
    justify-content: center;

    right: 1.6rem;
    margin-top: 1.6rem;
  
}

